@using Cadastro.Models.ViewModel.Account.Cadastro.Grupo
@model CriarGrupoVM
@{
  ViewData["Title"] = "Novo Grupo";
}

<h4 class="text-center mt-3 mb-5">@ViewData["Title"]</h4>

<form asp-action="NovoGrupo" asp-controller="Cadastro" method="post">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

      <!-- Titulo -->
      <div class="form-group">
        @Html.LabelFor(m => m.grupo.Titulo)
        @Html.TextBoxFor(m => m.grupo.Titulo, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.grupo.Titulo, "", new { @class = "text-danger" })
      </div>

      <!-- Ordem -->
      <div class="form-group">
        @Html.LabelFor(m => m.grupo.Ordem)
        @Html.TextBoxFor(m => m.grupo.Ordem, "", new { @class = "form-control", @placeholder = "Informe a ordem do grupo" })
        @Html.ValidationMessageFor(m => m.grupo.Ordem, "", new { @class = "text-danger" })
      </div>

      
      <p class="mt-5">
        <input class="btn btn-primary" type="submit" value="Criar Grupo" />
        <a asp-action="Index" asp-controller="Configuracao" class="btn btn-outline-secondary">Voltar</a>
      </p>

    </div>
    <div class="col-2"></div>
  </div>
</form>